.filter {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.filter > div {
  width: 49%;
}

.filter > div > div {
  margin-top: 0;
}

/* Media query for mobile devices */
@media screen and (max-width: 767px) {
  .filter {
    flex-wrap: wrap;
  }

  .filter > div {
    width: 100%;
  }

  .day-filter > div {
    margin-top: 5px !important;
  }
}
